In [5]:
import numpy as np
import pandas as pd
import sklearn as sk
import matplotlib as plot
%matplotlib inline

In [6]:
# data = pd.read_csv('enron_spam_data.csv')[['Message', 'Spam/Ham']].dropna().head(10)
data = pd.read_csv('enron_spam_data.csv')[['Message', 'Spam/Ham']].dropna()

In [7]:
np_arr = data.to_numpy()

In [8]:
mails = pd.DataFrame(np_arr, columns=['message', 'label'])

In [9]:
mails.head()

                                             message label
0  gary , production from the high island larger ...   ham
1             - calpine daily gas nomination 1 . doc   ham
2  fyi - see note below - already done .\nstella\...   ham
3  fyi .\n- - - - - - - - - - - - - - - - - - - -...   ham
4  jackie ,\nsince the inlet to 3 river plant is ...   ham

In [16]:
# Function to remove punctuations
import string

def remove_punc(text):
     return "".join([char for char in text if char not in string.punctuation])

mails["message"] = mails["message"].apply(lambda x: remove_punc(x))

In [17]:
mails.head(10)

                                             message label
0  gary  production from the high island larger b...   ham
1                calpine daily gas nomination 1  doc   ham
2  fyi  see note below  already done \nstella\n  ...   ham
3  fyi \n                      forwarded by lauri...   ham
4  jackie \nsince the inlet to 3 river plant is s...   ham
5  george \ni need the following done \njan 13\nz...   ham
6  fyi\n                      forwarded by gary l...   ham
7  there are two fields of gas that i am having d...   ham
8  thanks so much for the memo  i would like to r...   ham
9  the purpose of the email is to recap the kicko...   ham

In [25]:
def remove_newline(text):
    return ''.join(text.splitlines())

mails["message"] = mails["message"].apply(lambda x: remove_newline(x))

In [26]:
mails.head(10)

                                             message label
0  gary  production from the high island larger b...   ham
1                calpine daily gas nomination 1  doc   ham
2  fyi  see note below  already done stella      ...   ham
3  fyi                       forwarded by lauri a...   ham
4  jackie since the inlet to 3 river plant is shu...   ham
5  george i need the following done jan 13zero ou...   ham
6  fyi                      forwarded by gary l p...   ham
7  there are two fields of gas that i am having d...   ham
8  thanks so much for the memo  i would like to r...   ham
9  the purpose of the email is to recap the kicko...   ham